

.heading {
    margin-left: 19px;
    margin-right: 22px;
}

/* .noti {
    opacity: .5;
}

.noti.read_notifi {
    opacity: 1 !important;
} */

.notification_time {
    font-size: 12px;
    margin-bottom: 0px;
    clear: both;
}

.noti .title {
    font-weight: bold;
    color: #000;
    padding-right: 20px;
    font-size: 16px;
    max-width: 99%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    float: left;
    line-height: 31px;
}

.noti-wrap {
    overflow: auto;
    display: inline-block;
    width: 80%;
    cursor: pointer;
}

.list-group-item:hover, .notificolor:hover {
    background-color: #f8f9fa !important;
}

.check-hover:hover {
    color: #056305 !important;
    transform: scale(1.5);
}

.notification_delete:hover {
    color: #8c0707 !important;
    transform: scale(1.5);
}
.cross-hover:hover {
    color: #8c0707 !important;
    transform: scale(1.5);
}