<app-loading *ngIf="isLoading"></app-loading>

<main class="main-container">
  <section class="login_section common_section">
    <div class="container">
      <div class="loginRegister">
        <div class="login_panel_body">
          <div class="row align-items-center Height-300">
            <div class="col-md-12">
              <div class="form-box center-box max-WT-500">
                <form class="common-form" [formGroup]="resetForm" >
                  <div class="head_box2 text-center">
                    <h4>{{'resetpassword' | translate}}</h4>
                    <p>{{'passwordtitle' | translate}}</p>
                  </div>
                  <div class="form-group mb20" [ngClass]="{'validate-style1 has-error': resetForm.controls['password'].dirty && resetForm.controls['password'].invalid }" >
                    <input type="password" class="form-control" placeholder="Password" maxlength="16" [formControl]="resetForm.controls['password']" (paste)="$event.preventDefault()" />
                    <div class="error" *ngIf="resetForm.controls['password'].dirty && resetForm.controls['password'].invalid">
                      <span *ngIf="resetForm.controls['password'].hasError('required')">{{'enterpassword' | translate}}</span>
                      <span *ngIf="resetForm.controls['password'].hasError('minlength')">{{'validpassword' | translate}}</span>
                      <span *ngIf="resetForm.controls['password'].hasError('pattern') && !resetForm.controls['password'].hasError('minlength')">{{'entervalidpassword' | translate}}</span>
                    </div>
                  </div>
                  <div class="form-group mb20" [ngClass]="{'validate-style1 has-error ': (resetForm.controls['password'].value && resetForm.controls['cnfPassword'].value) && (resetForm.controls['password'].value != resetForm.controls['cnfPassword'].value)}" >
                    <input type="password" class="form-control" placeholder="Confirm password" [formControl]="resetForm.controls['cnfPassword']" maxlength="16" (paste)="$event.preventDefault()" />
                    <div class="error" *ngIf="resetForm.controls['password'].value && resetForm.controls['cnfPassword'].value" >
                      <span *ngIf="resetForm.controls['password'].value != resetForm.controls['cnfPassword'].value" >{{'confirmpassword' | translate}}</span>
                    </div>
                  </div>
                  <div class="form-group mb0">
                    <button type="button" class="btn btn-block btn-submit" [disabled]="resetForm.invalid || (resetForm.controls['password'].value != resetForm.controls['cnfPassword'].value)" (click)="resetPassword()" >{{'submit' | translate}}</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<!-- main End -->
