h1 {
  color: #333;
  font-family: arial, sans-serif;
  margin: 1em auto;
  width: 80%;
}
.tabs{
  /* margin-left: -100px; */
  margin: 0 auto;
}






.main-container{
  margin: 0 auto;
}


/** Verify Email CSS */
.resendEmailBox {
  /* position: absolute;
  top: 55px;
  right: -73px; */
  width: 100px;
  font-size: 15px;
  float: left; 
  margin-top: -12px; 
}
.btn-new-gray {
  background: #5f5b5b;
  color: #fff;
}
/** Verify Email CSS */
.inline-flex {
  display: inline-flex;
}
.w200 {
  width: 200px;
}
.w210 {
  width: 210px;
}
.red {
  color: red;
}
.li-disc{
  list-style-type: disc;
}
.paddleft40 {
  padding-left: 40px;
}
.copttxt{
  /* width: 503px; */
  width: 100%;
}
.btn-profile-user {
  font-size: 13px;
  overflow: hidden;
  box-shadow: none!important;
  font-family: arial;
  /* min-height: 40px; */
  border-radius: 4px;
  padding: 7px 12px;
  font-weight: 300;
}

.proofAdrsCopy {
  /* margin-left: -86px !important; */
  margin-left: -74px !important;
  margin-top: -7px;
}
.media-copybtn {
  position: relative;
  top: 0;
  left: 0;
}

.qrModalProfile {
  margin-top: -60px;
  margin-bottom: -60px;
}
/* iPad  */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) 
and (orientation : portrait) { 
  .media-copybtn {
    left: 0 !important;
  }
  .copy-media-btn {
    /* left: 212px !important; */
  }
 }
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) 
and (orientation : landscape) { 
  .copttxt {
    width: 100% !important;
  }
  .media-copybtn {
    left: 213px !important;
  }
  .copy-media-btn {
    margin-left: 600px !important;
    margin-top: -38px;
    position: relative;
  }
  .qrModalProfile {
    margin-top: -43px;
    margin-bottom: -42px;
  }
}
/*end iPad  */
/** Media Query */
@media (max-width: 1024px) and (min-width: 768px){	
  .media-level {
    font-size: 14px;
  }
  .media-copybtn {
    left: 414px;
  }
  .resendEmailBox {
    float: none;
  }
  .resendEmailBox > button {
    width: 100px;
  }
  .tabs{
    margin-left: -223px;
    overflow-x: hidden; 
  }
  .copttxt{
    width: 100%;
  }
  .global_box1 {
    background: #fff;
    box-shadow: 0 0 20px #ddd;
    border: 1px solid #ddd;
    margin-top: -42px;
    margin-left: -2px;
    width: 521px;
    padding: 30px;
}
  .copybtn {
    margin-left: 386px;
    margin-top: -38px;
    position: relative;
    /* left: -3px;
    margin-top: 0px; */
  }
}
@media screen and (device-aspect-ratio: 3/4) {
  .ipad-pro-media .ipad-pro-copy {
    margin-left: 385px !important;
    }
}
@media only screen  and (min-device-width: 834px)  and (max-device-width: 834px) 
  and (orientation: portrait)  and (-webkit-min-device-pixel-ratio: 2) {
    .ipad-pro-media .ipad-pro-copy {
      margin-left: 600px !important;
    }
}
/*iPad Pro Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px)
and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) { 
  .copttxt {
    width: 100% !important;
  }
  
  .copy-media-btn{
    /* left: 600px !important;
    margin-left: 0 !important; */
  }
  .media-copybtn {
    /* left: 213px !important; */
  }
}

/* iPhone 6, 7, & 8 Plus */
/* @media only screen and (min-device-width : 414px) and (max-device-width : 736px) 
and (orientation : portrait) { 
  .global_box1 {
    width: 326px !important;
  }
  .media-level {
    font-size: 16px;
  }
} */

@media only screen and (min-device-width : 414px) and (max-device-width : 736px) 
and (orientation : landscape) {   
  .tabordion section {
    margin-left: -6px;
  }
  .w210 {
    width: 34% !important;
  }
  .copy-media-btn {
    left: 0px !important;
  }
  .media-copybtn {
    left: 210px !important;
  }
  .proofAdrsCopy {
    top: 11px !important;
    left: 93px !important;
  }
}
/* iPhone X in landscape */
@media only screen and (min-device-width : 375px) and (max-device-width : 812px) and (-webkit-device-pixel-ratio : 3)and (orientation : landscape) { 
  .global_box1 {
    width: 521px !important;
  }
  .copy-media-btn {
    margin-left: 385px !important;
    margin-top: -38px !important;
  }
  .media-copybtn {
    margin-left: 173px !important;
    /* left: 414px !important; */
  }
  
}
/* iPhone 6, 7, & 8 in landscape */
@media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : landscape) { 
  .media-copybtn {
    top: 38px !important;
    /* margin-left: -111px !important; */
    margin-left: -255px !important;
  }
  .global_box1 {
    width: 478px !important;
  }
  .w210 {
    width: 140px !important;
  }
  .copy-media-btn {
    /* margin-left: -119px !important; */
    margin-left: -46px !important;
    margin-top: 0 !important;
  }
  .proofAdrsCopy {
    /* top: -236px !important; */
    left: 88px !important;
  }
}

@media (max-width: 767px){

  .mobile-input {
    width: 65% !important;
  }	
  span.input-group.input-group-contact.mobile-input{
    width: 100%!important;
}
  .code-width {
    width: 70px !important;
  }
  .media-input-width {
    width: 171px !important;
  }
   .tabordion {
    width: 100%;
  }
  .w210 {
    width: 100%;
  }
  .media-input-text {
    width: 100%;
  }
  .m-auto-media {
    margin: auto;
    } 
  /*.tabordion  .section .article{
    position: relative !important;
  }*/
  .max-WT-650 {
    width: 0 !important;
    margin-left: 0px;
  } 
  .copy-media-btn {
    /* position: relative;
    left: 74px;
    width: 45px; */
    position: relative;
    /* left: 0; */
    width: 45px;
    margin-top: 0px;
    margin-left: 0px;
  }
  .proofAdrsCopy {
    position: relative;
    top: 28px;
    left: 205px;
    width: 45px;
  }
  .media-copybtn {
    width: 45px;
    position: relative;
    top: 0px;
    left: 66px;
  }
  .global_box1{
    width: 290px;
    margin-left: -225px;
    margin-top: -28px;
  }
  /* .tabs{  
    overflow-x: hidden; 
    } */
  .w-70{
      margin-left: 15px;
      overflow-x: scroll;
    }
    


  .inline-flex{
    display: inline-block;
  }
  .form-control.w30percent {
    width: 65% !important;
  }
  .tier-level {
    margin-top: -15px !important;
    font-size: 12px !important;
  }
  .media-size12 {
    font-size: 15px !important;
  }
  .media-level {
    font-size: 12px;
  }
}
/* @media screen and (device-aspect-ratio: 16/9) {
  .global_box1 {
    width: 328px;
  }
  
} */
@media screen and (device-aspect-ratio: 40/71) {
  .code-width {
    width: 60px !important;
  }
  .tier-level {
    margin-top: -1px !important;
    font-size: 12px !important;
    margin-bottom: -5px;
  }
  .global_box1 {
    width: 233px;
  }
  .btn {
    white-space: pre-wrap !important;
  }
  .media-copybtn {
    left: 171px !important;
    margin-left: -30px !important;
  }
  .copttxt {
    width: 100%;
  }
  .proofAdrsCopy {
    left: 175px;
  }
}
@media(max-width: 767px ) {
  .tabordion {
    height: 1500px !important;
  }
}

@media(min-width:800px) and (max-width:1280px){
  .global_box1{
    width: 735px;
    /* width: 568px; */
}
.copttxt {
  /* width: 503px; */
  width: 463px;
}
/* .media-level {
  font-size: 14px;
} */
}
.head_box2_border{
  padding-left: 0 !important;
}
.tier-level {
  text-align: right;
  margin-top: -25px;
}
.w30percent {
  width: 42% !important;
}
.mobile-input {
  width: 42%;
  display: inline-flex;
}
.ngxmdp .selectorarrow {
  left: 0px !important;
}
.calendar-icon[readonly] {
  background-color: #fff !important;
}
.steel {
  height: 20px;
  width: 20px;
}
