<app-loading *ngIf="isLoading"></app-loading>>
          <div id="userAlert" class="modal fade" role="dialog" style="margin-top: 145px;">
              <div class="modal-dialog">
            
                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">Sell Token Alert</h4>
                    <button type="button" class="close " id="close" style="background: none;" data-dismiss="modal">&times;</button>
            
                  </div>
                  <div class="modal-body">
                    <p class="block" class="modalTxt">You must apply for user tier S1 to be able to sell tokens. To become S1, create an account and upgrade to B2 first,
                      then apply for S1.</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
            
              </div>
            </div>
  