<app-loading *ngIf="isLoading"></app-loading>

<main class="main-container">
  <section class="login_section common_section">
    <div class="container">
      <div class="loginRegister">
        <div class="login_panel_body">
          <div class="row align-items-center Height-300">
            <div class="col-md-12">
              <div class="form-box center-box max-WT-500">
                <form class="common-form" [formGroup]="forgotForm" >
                  <div class="head_box2 text-center">
                    <h4>{{'forgetpassword' | translate}}</h4>
                    <p>{{'verifyforgetpasswordmsg'  | translate}}</p>
                  </div>
                  <div class="form-group mb20" [ngClass]="{'validate-style1 has-error': forgotForm.controls['email'].dirty && forgotForm.controls['email'].invalid}">
                    <input type="text" class="form-control" placeholder="Email id" [formControl]="forgotForm.controls['email']" maxlength="64" />
                    <div class="error" *ngIf="forgotForm.controls['email'].dirty && forgotForm.controls['email'].invalid">
                      <span *ngIf="forgotForm.controls['email'].hasError('required')">{{'enteremail' | translate}}</span>
                      <span *ngIf="forgotForm.controls['email'].hasError('pattern')">{{'validemail' | translate}}</span>
                    </div>
                  </div>

                  <div class="form-group mb0">
                    <button type="button" class="btn btn-block btn-submit" [disabled]="forgotForm.invalid" (click)="forgotPassword()" >{{'submit' | translate }}</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<!-- main End -->
