/*------------------------------------------in-header ----------------------------------------------*/
.rtl .main-panel {
    float: left !important;
}
/*------------------------------------------in-header ----------------------------------------------*/

/*------------------------------------------in-sidebar ----------------------------------------------*/
.rtl .sidebar {
    right: 0 !important;
    left: unset !important;
}
/*------------------------------------------in-sidebar ----------------------------------------------*/

/*------------------------------------------in-dashboard ----------------------------------------------*/
.rtl .inrtl-title {
    text-align: right;
    padding-right: 20px;
}
/*------------------------------------------in-dashboard ---------------------------------------------- */

.rtl .card .formBox {
    text-align: right;
}
.rtl .dateIcon {
    right: unset;
    left: 0;
}
/* .rtl .card form {
    text-align: right;
} */

