@import "../../../../assets/institutional/css/style1.css";
@import "../../../../assets/institutional/css/material-dashboard.css";
@import "../../../../assets/institutional/demo/demo.css";
@import "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons";
.addMultImgDiv {
    width: 100px;
    height: 100px;
    border: 1px solid;
    position: relative;
    text-align: center;
}
.requiredColum{
   margin-bottom: 50px;
   margin-top: 50px;
}
.spanMultIcon {
    position: absolute;
    top: 38px;
    left: 45%;
}
.addMultImagesDiv {
    position: relative;
    width: 100px;
    margin-right: 15px;
}
.crossIconMult {
    position: absolute;
    top: -9px;
    right: -8px;
    border: 1px solid;
    border-radius: 100%;
    width: 20px;
}
.crossIconMult > i {
    margin-left: 4px;
}
.addMultImgDiv > input {
    opacity: 0 !important;
    position: relative !important;
    width: 100% !important;
    height: 100% !important;
    z-index: 1 !important;
}
.containAllImg {
    padding: 24px;
    display: inline-flex;
    flex-wrap: wrap;
}

@media(max-width: 400px) {
    .addMultImgDiv {
        width: 70px;
        height: 70px;
    }
    .spanMultIcon {
        position: absolute;
        top: 24px;
        left: 40%;
    }
    .addMultImagesDiv{
        width: 70px;
    }
}
.calendarReadCss[readonly] {
    background-color: #fff !important;
}

@media(max-width: 420px) {
    /* re-captcha .rc-anchor-normal .rc-anchor-pt {
        margin-left: 67px !important;
    }
    re-captcha .rc-anchor-logo-portrait{
        margin-left: -30px !important;
        width: 76px;
    } */
    .main-panel > .content {
        padding: 30px 5px !important;
    }
}



